#maurisergio{
	color: red;
	background: url(../aula/download.jpg); center/cver fixed
}

#titulo{
	color: blue;

}

.celio{
		color: blue;

}

.sergio{
		color: yellow;

}

.borda{
	border: 5px dashed red;


}